@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

:root{
    /* set font family
    NOTE this isn't working fsr so it's acutally set in the body specifier */
    font-family: 'Montserrat', sans-serif !important;
    font-size: 20px;
}

body{

    /* change default BS color vars */
    
    --ll-primary: #741c87;
    --ll-primary-tint11: #e9c1f2;
    /* --ll-secondary: var(--bs-white, white); */
    --ll-accent: #2074ac;
    --ll-accent-tint11: #c8e3f5;
    --ll-neutral: #d8d4d8;
    --ll-light: #ffffff;
    --bs-primary: var(--ll-primary);
    --bs-info: var(--ll-accent);
    --bs-success: var(--ll-accent);
    --bs-secondary: var(--ll-neutral);
    --bs-light: var(--ll-light, white);

    font-family: 'Montserrat', sans-serif !important;
}

/* NAVBAR */

/* this works as an alternative to the color setting 
in .nav-link:hover  */
/* .navbar{
    --bs-navbar-hover-color: var(--bs-light);
} */

.navbar{
    background-color: var(--ll-light);
}

.navbar-brand, 
.nav-link{
    color: var(--ll-primary);
    margin-right: 1em !important;
}

.nav-link:hover{
    color: var(--ll-light);
    background-color: var(--ll-primary);
}

/* HERO */

header{
    width: 100%;
    /* offeseting the top of the header to below the navbar height
    this could also be done via jq. 
    This makes vertically centering child elements easier because 
    the border box correlates to only what's visible. */
    height: calc(100vh - 70px); /* ensure full page header */
    position: relative;
    margin-top: 70px;

    background-color: var(--ll-primary-tint11);
    /* background-color: rgba(40, 101, 123, .20); */



    /* Removed the full page hero image */
    /* ------------------------------ */
    /* background-image: url("../images/hero/hero_still.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; */


     /* offeseting the top of the header
    background image to below the navbar height
    this could also be done via jq. */
    /* background-position: left 50% top 70px;     */
    /* ------------------------------ */

    

    /* background-position: center;  */
}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    /* background-color: rgba(244, 244, 244, .25); */
    background-color: rgba(255, 255, 255, .70);
}

header #join_btn{
    color: var(--ll-accent);
    border: .1em solid var(--ll-accent);
    background-color: var(--ll-neutral);
    font-weight: 600;
}

header #join_btn:hover{
    background-color: var(--ll-primary);
    color: var(--ll-neutral);
    border-color: var(--ll-neutral);
}

header #join_btn a{
    color: inherit;
}

header #join_btn a:hover{
    color: inherit;
}

header .hero-content{
    /* this need to be changed bc relative position and using top causes overflow past
     the hero section, instead the bs container and row should encompass the, 
    the whole header and a bs utility should be added to center the items within it */
    position: relative;
    top: 50%;
    /* left: 50%; */
    transform: translate(0%, -50%);
    /* margin: 0 auto; */

    padding: 1em;
    /* color: var(--ll-light); */
    color: var(--bs-gray-700);
    /* text-align: center; */
}

header .hero-content a{
    text-decoration: none;
}

/* DEPRECATED */
header .hero-content-old{
    /* this need to be changed bc relative position and using top 
    causes overflow past the hero section, instead container should also be flex item, 
    or a bs utility should be added to center the row within it */
    position: relative;
    top: 70%;
    /* left: 50%; */
    transform: translate(0%, -50%);
    margin: 0 auto;

    padding: 1em;
    color: var(--ll-light);
    text-align: center;
}

header .hero-content img{
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
}

header .description h1{ 
    font-weight: 800;
    font-size: 2.5rem;
}

header .description p{ 
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;

    /* color: var(--ll-secondary); */
}

/* FEATURES/SOLUTIONS */

.feature-group h1{
    font-weight: 600;
}

.feature-group h2{
    font-weight: 500;
}

.feature-group .fg-header{
    width: 100%;
}

.feature-group .fg-header .desc{
    padding: 1.5em 2em 2em;
}

.feature-group .fg-header .desc p{
    font-size: 1.1em;
    font-weight: 400;
    width: 40%;
    /* min-width: 300px; */
}

/* set feature group header description to
   max width on devices smaller than the 
   bs lg breakpoint*/
@media only all and (max-width: 991px){
    .feature-group .fg-header .desc p{
        width: 100%;
    }
}

.feature-group .fg-header img{
    width: 100%;
    height: 40vh;
    min-height: 150px;
    object-fit: cover;
    object-position: 50% 30%;
}

.feature-group .feature .container{
    min-width: 75%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.feature-group .feature .f-desc{
    padding-top: 5%;
    padding-bottom: 5%;
    /* padding-top: .75em;
    padding-bottom: .75em; */
}

.feature-group .feature .f-desc p{
    font-weight: 400;
}

/* instead choosing to handle this margin
responsively with bs m-lg-* class */
/* .feature-group .feature .f-vid, .f-img{
    margin-left: 20%;
} */

/* add drop shadow to feature visuals */
.feature-group .feature  video, .feature-group .feature img{
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
}

/* CREATIVE SOLUTIONS */

.feature-group#creative-solutions{
    background-color: var(--ll-light);
    /* background-color: var(--ll-primary-shade1); */
    /* background-color: var(--ll-secondary); */
}

/* SELF-GUIDED LEARNING */

.feature-group#self-guided{
    background-color: var(--ll-accent-tint11);
}

/* TESTIMONIALS */

/* @TODO */
/* .carousel{
    --carousel-transition-duration: 5s;
} */

/* #testimonials{
    background-color: var(--ll-accent-shade1);
    position: relative;
} */

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    /* display:block; */
    padding: 2rem;
    text-align: center;
}

blockquote {
    margin: auto;
    max-width: 1000px;
}

blockquote p {
    padding: 2rem 5%;
    background: var(--ll-neutral);
    border-radius: 5px;
}

/* add opening quote mark at start of quote */
blockquote p::before {
    content: '\201C';
}

/* add closing quote mark at start of quote */
blockquote p::after {
    content: '\201D';
}

/* Conctact Form */

#contact{
    padding-top: 100px;
    background-color: var(--ll-neutral);
}

.contact-form .indicates-required{
    font-size: small;
}

.contact-form .form-group{
    margin-bottom: 1rem;
}

.contact-form .formDesc{
    color: var(--bs-gray-600);
}

.contact-form button{
    background-color: var(--ll-light);
    color: var(--ll-accent);
    border: .1em solid var(--ll-accent);

    font-weight: 500;
}

.contact-form button:hover{
    /* filter: brightness(.85); */
    background-color: var(--ll-accent);
    border: .1em solid var(--ll-accent);

}